/MT020_2a-10082021191715-0000-cropped-raw.dat
/MT020_2a-10082021193209-0000-cropped-raw.dat
/MT020_2-pc-latent.dat
/MT020_2-pc-latent.csv
/MT020_2-pc-reconstruction.dat
/MT020_2-pc-reconstruction.avi
/reconstructionframes
/MT020_2-pc-latent-short.png
/MT020_2-pc-latent-long.png
/MT020_2-pc-latent-motionenergy,threshold.png
/MT020_2-pc-latent-motionenergy,threshold.csv
/MT020_2-motionenergy,threshold-view.avi
