/MT020_2a-10082021191715-0000-cropped-raw.dat
/MT020_2a-10082021193209-0000-cropped-raw.dat
/MT020_2-pc-latent.dat
/MT020_2-pc-latent.csv
/MT020_2-dpc-reconstruction.dat
/MT020_2-dpc-reconstruction.avi
/reconstructionframes
/MT020_2-pc-latent-short.png
/MT020_2-pc-latent-long.png
/MT020_2-pc-latent-motionenergy,threshold.png
/MT020_2-pc-latent-motionenergy,threshold.csv
/MT020_2-dpc-latent.dat
/MT020_2-dpc-latent.csv
/MT020_2-dpc-latent-short.png
/MT020_2-dpc-latent-long.png
/MT020_2-dpc-latent-motionenergy,threshold.csv
/MT020_2-dpc-latent-motionenergy,threshold.png
/MT020_2-dpc-latent-motionenergy,levels.csv
/MT020_2-dpc-latent-motionenergy,levelstrials.csv
/MT020_2-reconstructionframes-dpcs.csv
/MT020_2-bodyparts,rois.png
/MT020_2-bodyparts-motionenergy,levels.csv
/MT020_2-bodyparts,nose-motionenergy,levelstrials.csv
/MT020_2-bodyparts,mouth-motionenergy,levelstrials.csv
/MT020_2-bodyparts,eye-motionenergy,levelstrials.csv
/MT020_2-bodyparts,ear-motionenergy,levelstrials.csv
/MT020_2-bodyparts,forepaw-motionenergy,levelstrials.csv
/MT020_2-bodyparts,back-motionenergy,levelstrials.csv
/MT020_2-absolutemotion,bodyparts.csv
